<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Oh!</h1>
            <p>We detected some problem.</p>
        </div>
        <div class="main-content">
            <p>please try later.</p>
            <a href="/contact" class="button">Contact with Us</a>
            <a href="/" class="button">Go to Home</a>
        </div>
        <div class="footer">
            <p>If you aren't reginstered , feel free to <a href="/form">register</a>.</p>
        </div>
    </div>

    <script src="/js/scripts.js"></script>
</body>

</html>